html, body, .notfound-full-width {
    height: 100%;
    width: 100%;
}
.notfound-table {
    height: 100%;
    text-align: center;
    width: 100%;
    display: table;
}
.notfound-table h1 {
    display: inline-block;
    font-size: 60px;
    margin-bottom: 30px;
}
.notfound-table h1 span {
    display: block;
    font-size: 16px;
    color: #D1D2D4;
}
.notfound-tablecell .boxed-btn {
    margin-top: 40px;
}
.notfound-tablecell .boxed-btn:hover {
    color: #fff;
}
.notfound-table::after {
    background: #37404D none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    opacity: 0.5s;
}
.notfound-tablecell{
        vertical-align: middle;
        display: table-cell;
}
.notfound-tablecell, .notfound-tablecell h1 {
    color: #fff;
}
.notfound-table{background: url(../img/404-bg.png) no-repeat center center / cover;}